<ion-header>
  <ion-toolbar>
    <ion-title>
      Alcometer
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-list>
      <ion-item>
        <ion-label>Weight</ion-label>
        <ion-input type="number" [(ngModel)]="weight"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Gender</ion-label>
        <ion-select [(ngModel)]="gender" placeholder="Select One">
          <ion-select-option value="1">Female</ion-select-option>
          <ion-select-option value="2">Male</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Time</ion-label>
        <ion-select [(ngModel)]="time" placeholder="Select Time">
          <ion-select-option *ngFor="let item of time_arr" value="{{item.value}}">{{item.description}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Bottles</ion-label>
        <ion-select [(ngModel)]="bottles" placeholder="Select One">
          <ion-select-option *ngFor="let item of bottles_arr" value="{{item.value}}">{{item.description}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Promilles</ion-label>
        <ion-input readonly value="{{prom | number : '1.2-2'}}"></ion-input>
      </ion-item>
    </ion-list>
    <div>
      <ion-button (click)="calc()">Calculate</ion-button>
    </div>
  </div>
</ion-content>
